services:
  middleware-google:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: npm run dev
    env_file:
      - .env
    networks:
      - intranet-network

  # Database for logs
  postgres:
    image: postgres:15-alpine
    container_name: postgres_database
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=fth67jil
      - POSTGRES_DB=googleapi_logs
    volumes:
      - pgdata:/var/lib/postgressql/data
    networks:
      - intranet-network

volumes:
  pgdata:

networks:
  intranet-network:
